<h1>Dashboard</h1>

<div class="row-fluid fluid">
    <div class="span4">
        <div class=" box color_4 height_medium paint_hover">
            <div class="content icon big_icon"> 
                <a href="/admin/paginas"><img align="center" src="img/icons/tiles/quote.png" alt="" /></a>
                <div class="description">TEXTOS</div>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class=" box color_4 height_medium paint_hover">
            <div class="content icon big_icon"> 
                <a href="/admin/fotos"><img align="center" src="img/icons/tiles/photos.png" alt="" /></a>
                <div class="description">FOTOS</div>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class=" box color_4 height_medium paint_hover">
            <div class="content icon big_icon"> 
                <a href="/admin/videos"><img align="center" src="img/icons/tiles/video.png" alt="" /></a>
                <div class="description">VÍDEOS</div>
            </div>
        </div>
    </div>
</div>

<div class="row-fluid fluid">
    <div class="span4">
        <div class=" box color_4 height_medium paint_hover">
            <div class="content icon big_icon"> 
                <a href="/admin/portfolio"><img align="center" src="img/icons/tiles/music.png" alt="" /></a>
                <div class="description">PORTFÓLIO</div>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class=" box color_4 height_medium paint_hover">
            <div class="content icon big_icon"> 
                <a href="/admin/artistas"><img align="center" src="img/icons/tiles/people.png" alt="" /></a>
                <div class="description">ARTISTAS</div>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class=" box color_4 height_medium paint_hover">
            <div class="content icon big_icon"> 
                <a href="/admin/servicos"><img align="center" src="img/icons/tiles/equip.png" alt="" /></a>
                <div class="description">SERVIÇOS e EQUIPAMENTOS</div>
            </div>
        </div>
    </div>
</div>

<div class="row-fluid fluid">
    <div class="span4">
        <div class=" box color_4 height_medium paint_hover">
            <div class="content icon big_icon"> 
                <a href="/admin/radio"><img align="center" src="img/icons/tiles/radio.png" alt="" /></a>
                <div class="description">RÁDIO</div>
            </div>
        </div>
    </div>
</div>