<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="title">
                <h4> <span>Alterar Serviço ou Equipamento</span> </h4>
            </div>

            <div class="content">
                <form id="formNovoServico" method="post" action="/admin/servico/alterar" class="form-horizontal cmxform" autocomplete="off">
                    <input type="hidden" name="idServico" value="<%= viewModel.id %>" />
                    <div class="form-row control-group row-fluid">
                        <label class="control-label span3" for="descricao">Descrição *</label>
                        <div class="controls span9">
                            <input id="descricao" name="descricao" type="text" class="span12" value="<%= viewModel.descricao %>"/>
                            <label class="error errorRequired" style="display: none;">Por favor, informe a descrição</label>
                        </div>
                    </div>
                    <div class="form-row control-group row-fluid">
                        <label class="control-label span3" for="secao">Seção *</label>
                        <div class="controls span3">
                            <div class="input-prepend row-fluid">
                                <select id="secao" name="secao" class="row-fluid" disabled>
                                    <option value="servico" <%= (viewModel.secao === 'servico') ? 'selected' : '' %>>Serviço</option>
                                    <option value="equipamento" <%= (viewModel.secao === 'equipamento') ? 'selected' : '' %>>Equipamento</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions row-fluid">
                        <div class="span12">
                            <a href="/admin/servicos" class="btn btn-large btn-secondary pull-right">Cancelar</a>
                            <button type="submit" class="btn btn-large btn-success pull-right">Salvar</button>
                        </div>
                    </div>
                </form>
            </div>

            <a href="#instrucoesModal" class="btn new_item" data-toggle="modal"><i class="icon-info-sign"></i></a>
        </div>
        <!-- End .box --> 
    </div>
</div>

<!-- Modal -->

<div id="instrucoesModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Instruções</h3>
    </div>
    <div class="modal-body">
        <h4>Para incluir um novo serviço ou equipamento, siga as instruções abaixo</h4>

        <ul>
            <li>Todos os campos são de preenchimento obrigatório</li>
            <li>Não é possível alterar o campo <em>Seção</em>. Caso queira um item com determinada descrição em outra seção, é necessário criá-lo novamente e escolher a seção desejada</li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">Fechar</button>
    </div>
</div>

<script src="/js/app/formNovoServico.js"></script>

<!-- Modal Mensagem -->

<% include partial/mensagem %>